.card {
  min-height: 100px;
  background-color: #f0ead6;
  border-radius: 8px;

  display: flex;
  gap: 1em;
}

.card_left {
  background-color: rgba(0, 0, 0, 0.25);
  width: 20%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_right {
  background-color: rgba(0, 0, 0, 0.25);
  width: 80%;
  min-height: 100%;

  padding-top: 8px;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}
