header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5vh;
  margin-top: 5vh;

  color: aliceblue;
  font-size: 1.5em;
}

header h1,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.changelog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4vh;

  margin-top: 5vh;

  color: aliceblue;
  font-size: 1.2em;
}

.log {
  width: 70vw;

  display: flex;
  align-items: center;
  gap: 15vw;
  justify-content: space-evenly;

  padding: 13px;
  border-radius: 4px;

  box-shadow: 5px 7px 15px #162222;

  background-color: #2f4f4f;
}
