.sideBar {
  gap: 25px;
  display: flex;
  flex-direction: column;
  font-weight: 450;
  white-space: nowrap;
  color: whitesmoke;
  background-color: #2c2c2c;
  min-width: fit-content;
  max-width: 15vw;
  padding: 25px 25px 25px 10px;
  border-radius: 0 15px 15px 0;
  height: 100%;
}
.sideBarBody {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sideBarHeader {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: #8c8e95;
  border-radius: 5px;
}

.sideBarProfilePicture {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  min-width: 48px;
}

.sideBarUserName {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
