.sideBar {
  gap: 25px;
  display: flex;
  flex-direction: column;
  font-weight: 450;
  white-space: nowrap;
  color: grey;
  background-color: #2c2c2c;
  min-width: fit-content;
  max-width: 15vw;
  padding: 25px 25px 25px 10px;
  border-radius: 0 15px 15px 0;
}
.sideBarBody {
  display: flex;
  flex-direction: column;
}

.sideBarHeader {
  height: 50px;
  border: solid whitesmoke;
}
