.sideBar {
  gap: 25px;
  display: flex;
  flex-direction: column;
  font-weight: 450;
  white-space: nowrap;
  color: whitesmoke;
  background-color: #2c2c2c;
  width: 100%;
  padding: 25px 25px 25px 10px;
  height: 100%;
}
.sideBarBody {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sideBarHeader {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: var(--ion-color-dark);
  border-radius: 5px;
  outline: solid var(--ion-color-light);
}

.sideBarProfilePicture {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  min-width: 48px;
}

.sideBarUserName {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
