/* You can add global styles to this file, and also import other style files */
body {
  background-color: lightgrey;
  color: black;
  font-family: 'Orbitron', sans-serif;
  font-weight: 100;
}

.profileImg {
  width: 80%;
  height: 80%;

  border-radius: 50%;
}
